.navbar {
  height: 114px;
  border-bottom: 1px solid #eee;
}

.inner {
  width: 100%;
  max-width: 1000px !important;
  margin: 0 auto;
  font-size: 14px;
}

.top {
  height: 64px;
  border-bottom: 1px solid #eee;
  .logo{
    float: left;
    line-height: 64px;
    height: 64px;
    margin-left: 15px;
    font-size: 2rem;
    img{
      max-height: 50px;
      vertical-align: middle;
    }
  }
  .action{
    float: right;
    &>span{
      line-height: 64px;
      color: rgba(0,0,0,.3);
      padding:0 1em;
    }
  }
}