
.clearfix{
  clear: both;
  float: none;
  &:before,
  &:after {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
}
.form-control{
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  label{
    width: 20%;
    min-width: 100px;
    float: left;
  }
  .form-input{
    float: left;
    width: 80%;
    max-width: -webkit-calc(100% - 100px);
    input{
      width: 100%;
      border: none;
      background: none;
      border-bottom: 2px solid #868686;
      
    }
  }
}
.button-block{
  display: block;
  text-align: center;
  border: 1px solid #eee;
  padding: 10px 15px;
  margin: 5px 0;
  color: #23B67F;
  background: #fff;
  font-size: 16px;
}
.label{
  display: inline-block;
  background: #fff;
  border: 1px solid #eee;
  padding: 3px 5px;
  margin: 0 3px 3px 0;
}
.back-top{
  position: fixed;
  right: 1em;
  bottom: 1em;
  background: #555;
  width: 25px;
  height: 25px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  font-size: 12px;
  line-height: 25px;
  z-index: 10;
}