.user{
  padding: 0 15px;
}

.header{
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  .new{
    border: 1px solid #868686;
    background: none;
    padding: 5px 15px;
    border-radius: 30px;
    color: #868686;
    font-size: 12px;
  }
}
.list{
  table{
    width: 100%;
  }
  button{
    border: 1px solid #868686;
    background: none;
    border-radius: 30px;
  }
}
.item{
  border-bottom: 1px solid #eee;
  padding: 0;
  height: 45px;
}
.edit{
  max-width: 580px;
  margin: 0 auto;
  width: 100%;
}