.editor{
  padding: 20px 0;
}
.side.edit-area{
  display: flex;
  width: 100%;
  &>div{
    width: 50%;
  }
}

.tab.edit-area{
  display: block;
  width: 100%;
  &>div{
    width: 100%;
    display: none;
  }
  .textarea{
    display: block;
  }
  .preview{
    display: none;
  }
  &.on-preview{
    .textarea{
      display: none;
    }
    .preview{
      display: block;
    }
  }
}


.nav{

  width: 100%;
  ul{
    list-style-type: none;
    margin:0;
    padding:0;
    li{
      cursor: pointer;
      list-style: none;
      display: inline-block;
      padding: 2px 5px;
      color: #3AB7D4;
      &:hover{
        background:#E6E6E6;
      }
      &.active{
        background:#eee;
      }
    }
  }
}