.article{
  background: #fff;
}
.inner{
  padding: 2rem 1rem;

}
.footer{
  margin-top: 2rem;
  border-top: 1px solid #eee;
}
.user{
  padding: 0.5em 0;
}
.content{
  font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial, "microsoft yahei";
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: -.004em;
  margin-top: 1em;
  font-size: 16px;
}