.article{
  background: #fff;
}
.inner{
  padding: 2rem 1rem;
}
.header{
  // border-bottom: 1px solid #eee;
}
.footer{
  margin-top: 2rem;
  border-top: 1px solid #eee;
}
.user{
  padding: 0.5em 0;
}
.content{
  font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial, "microsoft yahei";
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: -.004em;
  margin-top: 1em;
  font-size: 16px;
}
.labels{
  border-top: 1px solid #eee;
  margin-top: 1em;
  padding-top: 0.5em;
  a{
    display: inline-block;
    background: #fff;
    border: 1px solid #eee;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 15px;
    margin-right: 0.5em;
    &:hover{
      text-decoration: underline;
    }
  }
}