.post{
  background: #fff;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.tabs{
  width: 100%;
}
.tabnav{
  li{
    float: left;
    padding: 10px;
    color: #8F8F8F;
    font-size: 14px;
    &.active{
      color: #373737;
      border-bottom: 1px solid #444;
    }
  }

}
.main{
  padding: 1em 0;
}