.item{
  margin-bottom: 1rem;
  padding-left: 15px;
  h3{
    color: #333333;
    font-size: 20px;
  }
  p{
    margin: 0;
    padding: 0;
    color: #4B4B4B;
    font-size: 16px;
  }
  .attr{
    color: #CECECE;
    font-size: 13px;
    span{
      margin-right: 15px;
    }
  }
}
.header{
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
}
.new{
  display: inline-block;
  padding:5px 25px;
  margin: 1em 10px;
  background: none;
  border: none;
  border-radius: 30px;
  border: 1px solid #02b875;
  color: #1c9963;
  font-size: 14px;
}